<form class="sign-in-box">
  <img
    class="login-logo"
    id="login-logo"
    src="./images/bookLogo02.png"
    style="height: 100px; width:100px; display:flex; justify-content:center; margin: 0 auto;"
  />
  <h1 class="h3 mb-3 fw-normal">Please Log in</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-input"
      id="email-login"
      placeholder="name@example.com"
    />
    <label for="email-login"> </label>
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-input"
      id="password-login"
      placeholder="Password"
    />
    <label for="password-login"> </label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me" />
      Remember me
    </label>
  </div>
  <button class="btn btn-dark" type="submit">Log in</button>
  <br />
  <br />
  <h6>Not yet a member? Sign up now!</h6>
  <a href="signup" class="btn btn-dark">Sign Up</a>
  <p class="mt-5 mb-3 text-muted">© 2021–2022</p>
</form>

<script
  src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>

<script src="./js/login.js"></script>