<div class="col review-heading">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
{{!-- BOOK THUMBNAIL API RENDER --}}
{{#each result as |result|}}
  <img class="card-img-top" src="{{result.volumeInfo.imageLinks.thumbnail}}" alt="Card image cap">
{{/each}}
<div class="review-card-container">
  <div class="col mt-4">
    <div class="col-md-6">
      <h3>Write a New Review:</h3>

      <form class="review-project-form">
        <div class="review-group">
          <label for="username-section"> Username</label>
          <input
            class="username-input"
            type="text"
            id="book-name"
            name="book-name"
          />
        </div>
        <div class="review-group">
          <label for="book-title-section"> Book Title:</label>
          <input
            class="title-input"
            type="text"
            id="book-title"
            name="book-title"
          />
        </div>
        <div class="review-group">
          <label for="review-section"> Review:</label>
          <textarea
            class="review-input"
            id="book-description"
            name="book-description"
          ></textarea>
        </div>
        <div class="review-group">
          <button type="submit" class="review-btn btn-primary">Create Review</button>
        </div>
      </form>
    </div>

  </div>
</div>