
<div class="col-11" style="margin-left: -100px;">
        <div class="profile-card">
          {{!-- Profile Banner --}}
          <div class="profile-banner">
            <div class="user-profile-pic"></div>
            <a class="edit-profile" style="font-size: 15px;"> Edit Profile Pic</a>
          </div>
          <div class="profile-design">
            <h4 class="profile-design">User Name</h4>
          </div>
          <div class="card-body">
            <h3 class="card-title pricing-card-title">Reviewer Ranking: #983293</h3>
            <ul class="list-unstyled mt-3 mb-4">
              <li><a href="/have-read">Books I Have Read</a></li>
              <li><a href="/currently-reading">Books I'm Currently Reading</a></li>
              <li><a href="/want-to-read">Books I Want to Read</a></li>
            </ul>
            <a href="/my-reviews" class="w-100 btn btn-lg btn-primary">My Reviews</a>

            <div class="col-auto">
                <h2>Welcome, {{email}}!</h2>
              
            <h1>Recomemded </h1>
              <div class="col-md-6">
                  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-success">Melody Grace</strong>
                      <h3 class="mb-0">Holiday Kisses</h3>
                      <div class="mb-1 text-muted">Tags: #holiday</div>
                      <p class="card-text mb-auto" style="font-size: 15px; color:white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu dui eu turpis mattis mollis et vel nunc. Fusce placerat dignissim dolor, eget congue neque. Nulla molestie tempor sapien quis condimentum. Nullam quam mi, lacinia at pharetra et, aliquet nec nibh. Suspendisse varius ornare nisl nec consequat.</p>          <a href="#" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img class="bd-placeholder-img" width="200" height="250" src="http://books.google.com/books/content?id=kW48DwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"/>
                      <br>
                      <button type="button" class="btn btn-danger haveRead-btn" style="width: 190px;">View Book</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>

          </div>
        </div>
      </div>





<script src="./js/profile.js"></script>
