<form class="sign-in-box">
    <img class="login-logo" id="login-logo" src="./images/bookLogo02.png" style="height: 100px; width:100px; display:flex; justify-content:center; margin: 0 auto;">
    <h1 class="h3 mb-3 fw-normal">Sign Up</h1>

    <div class="form-floating">
      <input type="email" class="form-input" id="email-login" placeholder="name@example.com">
      <label for="email-login"> </label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-input" id="password-login" placeholder="Password">
      <label for="password-login"> </label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-dark" type="submit">Sign in</button>

<script src="./js/signup.js"></script>
