@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 241, 233);
    /* background-image: url(/assets/images/landscape-1844229.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    overflow-x: hidden;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1100px;
}

.nav-container {
    padding: 20px 70px;
    color: #fff;
    height: fit-content;
}

.nav-logo img {
    display: flex;
    padding: auto;
    max-width: 90px;
}

.nav-links {
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(24, 66, 180);
}

.nav-item {
    margin-left: 15px;
    margin-right: 5px;
}

.nav-links a {
    color: white;
}

form, .nav-search {
    display: flex;
    justify-content: flex-end;
}

.search-bar {
    width: 300px;
}

.user-icon {
    margin-left: 15px;
    color: white;
    font-size: 40px;
    padding: 0;
}

.options-icon {
    margin-left: 15px;
    color: white;
    font-size: 40px;
    padding: 0;
}

.main-container {
    flex: 4;
    /* background-color: rgb(167, 101, 101); */
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }

  .home-img {
      margin: 0 auto;
      display: inline-block;
  }

  .home-content {
    margin: 15px;
    display: flex;
    justify-content: center;
  }

.sign-in-box{
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
}

.login-logo img {
    display: flex;
    justify-content: center;
    padding: auto;
    max-width: 50px;
    border: red solid 5px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* MY REVIEWS */

.review-heading h2 {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;

}

.review-project-form {
    margin-left: 5px;
    margin-top: 10px;
    padding: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    width: 800px;
    height: fit-content;
    font-weight: 500;
    font-size: 20px;
}

.review-card-container h3{
    color: red;
    
}

.username-input {
    width: 750px;
    height: 30px;
}

.title-input {
    width: 750px;
    height: 30px;
}

.review-group {
    margin-left: 20px;
    align-content: center;
    
    width: 800px;
}

.review-input {
    
    width: 750px;
    height: 250px;
}

.review-btn {
    box-shadow: 10px 5px 5px rgba(15, 15, 15, 0.438);
    margin: 5px;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    padding: 4px;

}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* PROFILE */

.profile-banner {
    background-image: url(/images/reading01.jpg);
    background-size: cover;
    border:rgb(70, 70, 70) solid 4px;
}

.user-profile-pic {
    background-image: url(/images/user-circle.svg);
    background-size: cover;
    border:rgb(70, 70, 70) solid 4px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.profile-card {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* HOME */

.home-container {
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    max-width: 60%;
}

.home-banner {
    background-position: center;
    background-size: cover;
    border: solid red 3px;
}

.text-box {
    background-color: rgba(32, 32, 32, 0.685);
}

.source {
    color: wheat;
}
.source a {
    color: wheat;
}

.p-2 {
    margin-top: 25px;
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* BROWSE */

.browse-banner {
    background-position: center;
    background-size: cover;
}

.browse-container {
    margin: 0 auto;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    max-width: 60%;
}

.browse-banner {
    background-position: center;
    background-size: cover;
    border: solid red 3px;
}

.text-box {
    background-color: rgba(32, 32, 32, 0.685);
}

.source {
    color: wheat;
}
.source a {
    color: wheat;
}

.p-2 {
    margin-top: 25px;
}









