@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250, 241, 233);
  /* background-image: url(/assets/images/landscape-1844229.png); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  overflow-x: hidden;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 1100px;
}

.nav-container {
  padding: 20px 70px;
  color: #fff;
  height: fit-content;
}

.nav-logo img {
  display: flex;
  padding: auto;
  max-width: 90px;
}

.nav-links {
  padding: 8px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(24, 66, 180);
}

.nav-item {
  margin-left: 15px;
  margin-right: 5px;
}

.nav-links a {
  color: white;
}

form,
.nav-search {
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  width: 300px;
}

.user-icon {
  margin-left: 15px;
  color: white;
  font-size: 40px;
  padding: 0;
}

.options-icon {
  margin-left: 15px;
  color: white;
  font-size: 40px;
  padding: 0;
}

.card-deck {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: auto;

  grid-gap: 3rem;
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.main-container {
  flex: 4;
  /* background-color: rgb(167, 101, 101); */
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.home-img {
  margin: 0 auto;
  display: inline-block;
}

.home-content {
  margin: 15px;
  display: flex;
  justify-content: center;
}

.sign-in-box {
  margin: 0 auto;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  width: 500px;
  justify-content: center;
}

.login-logo img {
  display: flex;
  justify-content: center;
  padding: auto;
  max-width: 50px;
  border: red solid 5px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* MY REVIEWS */

.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;
  border: tomato solid 6px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* PROFILE */

.profile-banner {
  background-image: url(/images/reading01.jpg);
  background-size: cover;
  border: rgb(70, 70, 70) solid 4px;
}

.user-profile-pic {
  background-image: url(/images/user-circle.svg);
  background-size: cover;
  border: rgb(70, 70, 70) solid 4px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* HOME */

.home-banner {
  background-position: center;
  background-size: cover;
  border: solid red 3px;
}

.text-box {
  background-color: rgba(32, 32, 32, 0.685);
}

.source {
  color: wheat;
}
.source a {
  color: wheat;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* BROWSE */

.browse-banner {
  background-position: center;
  background-size: cover;
}
